name: CD

on:
  pull_request:
    branches:
      - main
    types:
      - closed
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}'
  cancel-in-progress: false

jobs:
  cd:
    permissions:
      contents: write
    name: Publish packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure Git author
        run: |
          git config user.name "SDK Release Bot"
          git config user.email "tech+sdk-release-bot@gladia.io"

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          package-manager-cache: false
      - run: bun install

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install Python deps
        run: bun nx run-many -t sync

      - name: Make the release
        run: bun run release
